* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Garamond", serif;
  background: linear-gradient(to bottom,#ffb3e6, #9a214b );
  color: #ffb3e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.intro {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.h3 {
  color: #50072f;
  text-align: center;
  margin-bottom: 5px;
  opacity: 1;
  transition: opacity 1s ease;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-family: Georgia;
  background: #ce2a66;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 40px;
  cursor: pointer;
  color: rgb(224, 125, 185);
  transition: 1s;
}
.btn:hover {
  background: #9a214b;
}
.movingBtn{
  position: absolute;
  padding: 10px 20px;
  top: 410px;
  font-size: 1rem;
  font-family: Georgia;
  background-color: #ce2a66;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(224, 125, 185);
  transition: left 0.3s ease, top 0.3s ease;
}
.movingBtn:hover {
  background: #9a214b;
  transition: 1s;
}
.letter {
  display: none;
  background: repeating-linear-gradient(
    to bottom,
    #fdf6e3 0px,
    #fdf6e3 27px,
    #d2d2d2 28px
  );
  color: #333;
  padding: 30px 30px 30px 70px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: "Garamond", serif;
  overflow: visible;
}
.letter p {
  margin-top: -55px;
  overflow: hidden;
}
#stamp {
  position: absolute;
  width: 90px;
  top: 450px;
  left: 350px;
  cursor: grab;
  user-select: none;
  opacity: 0;
}

#stamp:active {
  cursor: grabbing;
}
#chips {
  position: absolute;
  width: 90px;
  top: 345px;
  left: 350px;
  cursor: grab;
  user-select: none;
  opacity: 0;
}

#chips:active {
  cursor: grabbing;
}
#stamp3 {
  position: absolute;
  width: 90px;
  top: 240px;
  left: 350px;
  cursor: grab;
  user-select: none;
  opacity: 0;
}

#stamp3:active {
  cursor: grabbing;
}
#stamp2 {
  position: absolute;
  width: 90px;
  top: 240px;
  left: 200px;
  cursor: grab;
  user-select: none;
  opacity: 0;
}

#stamp2:active {
  cursor: grabbing;
}
#stamp1 {
  position: absolute;
  width: 90px;
  top: 345px;
  left: 200px;
  cursor: grab;
  user-select: none;
  opacity: 0;
}

#stamp1:active {
  cursor: grabbing;
}

